<div class="container">
    <hr>
    <div class="card-header">
        <h4><b><u>Job Details</u></b> </h4>
    </div>
    <h4>Immediate Opening For UI Developers with React Js @ Pune and Bangalore </h4>
    Posted:<b>6 days ago</b>
    <div class="card-body">
        <div *ngIf=post>
            <div class="row">
                <div class="column">
                    <h6>Job Id: {{post.id}}</h6>
                    <h6>Job Title: {{post.title}}</h6>
                    <h6>Role: {{post.role}}</h6>
                    <h6>Company Name: {{post.cname}}</h6>
                    <h6>Salary: {{post.salary}}</h6>
                    <h6>Location:{{post.location}}</h6>
                    <h6>Skills: {{post.skills}}</h6>
                    <h6>Description: {{post.jobdesc}}</h6>
                    <h6><u>Requirements:</u></h6>
                    <b>Overall Experience:</b>
                    <p>3 to 9 years</p>
                    <b>Mandatory Experience:-</b>
                    Role: Software Developer.<br>
                    Industry Type:IT Software.<br>
                    Employment Type: Full Time, Permanent.
                    <br><br><br>
                    <h6>Education:</h6>
                    UG:B.E
                </div>
                &nbsp;&nbsp;
                
        </div>
    </div>

</div>
</div>
